<div class="tab-pane fade show active" id="list-redes" role="tabpanel" aria-labelledby="list-redes-list"> 
    <div class="container px-5 mx-5">
      <div class="my-3">
        <label for="instagram" class="form-label">Instagram</label>
          <input type="text" class="form-control" id="instagram">  
      </div>
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Guardar</button>
      <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Eliminar</button>
      <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Actualizar</button>
      <div class="my-3">
        <label for="linkedin" class="form-label">Linkedin</label>  
        <input type="text" class="form-control" id="linkedin">
         </div>
         <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Guardar</button>
         <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Eliminar</button>
         <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Actualizar</button>
         <div class="my-3">
          <label for="github" class="form-label">Github</label>  
          <input type="text" class="form-control" id="github">
           </div>
           <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Guardar</button>
           <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Eliminar</button>
           <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Actualizar</button>
  </div>
  </div>
