<!--seccion educacion-->
<section id="educacion" class="educacion">
    <div class="container-fluid text-center rounded shadow-sm p-3 bg-body-transparent">
    <div class="col-6 mt-4">
      <h2 class="text-center"><span>Educación</span></h2>
      <br>
      <div class="container text-center" *ngFor="let educacion of educaciones">
        <div class="row">
          <div class="col-3"> 
            <img [src]="educacion.imagen" class="d-block w-100" alt="...">
            <br>
            <br>           
          </div>
          <div class="col-8">
            <h3 class="mt-4">{{educacion.tituloCurso}}</h3> 
            <h5 class="mt-4">{{educacion.descripcionCurso}}</h5>
            <br> 
          </div>
          <div class="col-1"> 
            <div class="btn delete" type="button"><i class="fa-solid fa-trash" (click)="delete(educacion.id)"></i>
            </div>
            <app-editar-educacion></app-editar-educacion>
            <app-agregar-educacion></app-agregar-educacion>
          </div>
        </div>
          
    </div>
    </div>     
    </div>
    </section>   
