<!--seccion educacion-->
<section id="educacion" class="educacion">
    <div class="container-fluid text-center rounded shadow-sm p-3 bg-body-transparent">
    <div class="col-6 mt-4">
      <h2 class="text-center"><span>Educación</span></h2>
      <br>
      <div class="container text-center" *ngFor="let educacion of educacion">
        <div class="row">
          <div class="col-3">    
          </div>
          <div class="col-8">
            <div id="carouselExampleControlsNoTouching"  class="carousel slide" data-bs-touch="false">
              <div class="carousel-inner" >
                <div class="carousel-item active">
                  <img [src]="educacion.img" class="d-block w-75" alt="...">
                </div>
                <div class="carousel-item">
                  <img [src]="educacion.img" class="d-block w-75" alt="...">
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
          <div class="col-1"> 
            <h3><strong>Cursos realizados:</strong></h3>  
           <h4>{{educacion.nivel}}</h4> 
           <br> 
           <app-editar></app-editar>
           <app-agregar></app-agregar>
           <app-eliminar></app-eliminar>
          </div>
        </div>
      </div>        
    </div>
    </div>     
    </section>   
