
<nav class="navbar navbar-expand-lg bg-secondary fixed top">  
  <div class="container-fluid">
      <div class="navbar-brand"><a href="https://argentinaprograma.inti.gob.ar/" target="_blank">
        <img src="assets/img/APLogo-20-20.png" alt="argpprod" width="20%" height=""></a>
     
      </div>
      <app-redes></app-redes>
      <!--<button *ngIf="!modoEdit" type="button" id="login" data-bs-toggle="modal" data-bs-target="#exampleModal">-->
   
    <div *ngIf="!modoEdit">
      <i class="fa-solid fa-user-lock fa-xl" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal"></i>
    </div>
    <div *ngIf="modoEdit">
      <i   type="button" class="fa-solid fa-arrow-right-from-bracket"  (click)="cerrarSesion()"></i>    
    </div>
    </div>
      
      <app-login></app-login>
    </nav>