 <!--Redes sociales-->
 <ul class="list-group list-group-horizontal">  
        <li class="list-group-item"><a href="https://www.instagram.com/aili.torres/" target="_blank"><i class="fa-brands fa-instagram fa-xl"></i></a>
        <li class="list-group-item"><a href="https://www.linkedin.com/in/ail%C3%A9n-torres-516922250/" target="_blank"><i class="fa-brands fa-linkedin fa-xl"></i></a>
        <li class="list-group-item"><a href="https://github.com/ailenalumna" target="_blank"><i class="fa-brands fa-github fa-xl"></i></a>
        <li class="list-group-item">
       <i class="fa-solid fa-user-lock fa-xl" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal"></i>
      </li>
        </ul>
  
  