 <!--Redes sociales-->
 <ul class="list-group list-group-horizontal">  
      <div class="redes" *ngFor="let redes of redes">
  <li class="list-group-item"><a [href]="redes.url" target="_blank"><i [ngClass]="redes.icono"></i></a></li>
        
        </div>
         
     <!-- <app-agregar-red></app-agregar-red>
<li class="list-group-item"><a href="https://www.linkedin.com/in/ail%C3%A9n-torres-516922250/" target="_blank"><i class="fa-brands fa-linkedin fa-xl"></i></a>
        <li class="list-group-item"><a href="https://github.com/ailenalumna" target="_blank"><i class="fa-brands fa-github fa-xl"></i></a>
        <li class="list-group-item">
      

-->
  
  