<div class="tab-pane fade" id="list-skills" role="tabpanel" aria-labelledby="list-skills-list">
    <div class="container px-5 mx-5">
         <!--Skill uno-->
      <div class="row">
      <div class="col-6 my-3">
        <label for="skillUno" class="form-label">Skill</label>
          <input type="text" class="form-control" id="skillUno">  
      </div>
      <div class="col-6 my-3">
        <label for="porcentajeUno" class="form-label">Porcentaje</label>
          <input type="text" class="form-control" id="porcentajeUno">  
      </div>
      </div>
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Guardar</button>
      <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Eliminar</button>
      <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Actualizar</button>
      <!--sKILL DOS-->
      <div class="row">
        <div class="col-6 my-3">
          <label for="skillDos" class="form-label">Skill</label>
            <input type="text" class="form-control" id="skillDos">  
        </div>
        <div class="col-6 my-3">
          <label for="porcentajeDos" class="form-label">Porcentaje</label>
            <input type="text" class="form-control" id="porcentajeDos">  
        </div>
        </div>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Guardar</button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Eliminar</button>
        <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Actualizar</button>
        <!--Skill tres-->
        <div class="row">
          <div class="col-6 my-3">
            <label for="skilltres" class="form-label">Skill</label>
              <input type="text" class="form-control" id="skilltres">  
          </div>
          <div class="col-6 my-3">
            <label for="porcentajetres" class="form-label">Porcentaje</label>
              <input type="text" class="form-control" id="porcentajetres">  
          </div>
          </div>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Guardar</button>
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Eliminar</button>
          <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Actualizar</button>
           <!--Skill cuatro-->
          <div class="row">
            <div class="col-6 my-3">
              <label for="skillcuatro" class="form-label">Skill</label>
                <input type="text" class="form-control" id="skillcuatro">  
            </div>
            <div class="col-6 my-3">
              <label for="porcentajecuatro" class="form-label">Porcentaje</label>
                <input type="text" class="form-control" id="porcentajecuatro">  
            </div>
            </div>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Guardar</button>
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Eliminar</button>
            <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Actualizar</button>
             <!--Skill cinco-->
            <div class="row">
              <div class="col-6 my-3">
                <label for="skillcinco" class="form-label">Skill</label>
                  <input type="text" class="form-control" id="skillcinco">  
              </div>
              <div class="col-6 my-3">
                <label for="porcentajecinco" class="form-label">Porcentaje</label>
                  <input type="text" class="form-control" id="porcentajecinco">  
              </div>
              </div>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Guardar</button>
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Eliminar</button>
              <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Actualizar</button>
  </div>
  
  </div>