<div class="tab-pane fade" id="list-educación" role="tabpanel" aria-labelledby="list-educación-list">
    <div class="container px-5 mx-5">
    <div class="my-3">
      <label for="educacionUno" class="form-label">Educación</label>
      <input class="form-control" type="file" id="educacionUno"> 
    </div>
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Guardar</button>
    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Eliminar</button>
    <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Actualizar</button>
    <div class="my-3 mt-5">
      <input class="form-control" type="file" id="educacionDos"> 
    </div>
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Guardar</button>
    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Eliminar</button>
    <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Actualizar</button>
  </div>
  
  </div>
