<!-------- MODAL EXPERENCIA -------->
<div class="container text-center">
    <div class="row">
    <div class="col-4">
        <button type="submit" class="btn btn-close-black"><i class="fa-solid fa-pen" data-bs-toggle="modal" data-bs-target="#editarexp"></i></button>
    </div>
        <div class="modal fade" id="editarexp" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="editarexp">Editar Trabajo</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container">
                      <form [formGroup]="editarexpForm">
                        <div class="form-group m-3">
                            <label for="descripcionTrabajo">Descripción</label>
                            <textarea rows="5" type="text" class="form-control text-center" id="descripcionTrabajo" name="descripcionTrabajo" formControlName="descripcionTrabajo"></textarea>
                </div>
                <div *ngIf="descripcionTrabajo?.errors && descripcionTrabajo?.touched">
                  <div *ngIf="descripcionTrabajo?.hasError('required')" class="alert alert-danger" role="alert">
                    Debe ingresar una descripción del trabajo.
                  </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Guardar</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                  </div>
             
                
